* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("assets/netflix_background_img.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8px;
    position: relative;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 220px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}

.language-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}

.language-btn img {
    width: 10px;
    margin-left: 10px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;

}

.header-content h3 {

    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup {
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    


}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    


}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;

}

.container {
    
    height: 500px;
    max-width: 1200px;
    width: 100%;
    margin-top: 30px;
    margin-right: 12vw;
    margin-left: 12vw;

   



}

.section-title{
    font-size: 20px;
    
    font-weight: bold;
    margin-bottom: 25px;
    color: white;

}

.slider{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;


   
}

.slider::-webkit-scrollbar {
    display: none;

}

.card{
    position: relative;
    flex: 0 0 auto;
    width: 180px;
    height: 280px;
    scroll-snap-align: start;
    border-radius: 8px ;
    overflow: visible;
    padding: 15px 10px;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 8px ;
    object-fit: cover;
    display: block;

}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);

}

.number{
    position: absolute;
    bottom: 10px;
    left: -10px;
    font-size: 75px;
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
}

.container2{
    height: 380px;
    width: 75vw;
    margin-top: -97px;
    margin-right: 12vw;
    margin-left: 12vw;
    overflow: hidden;
}

.section{
    display: flex;
    gap:20px;
    height: 350px;
    width: 75vw;
}

.card2{
   height: 325px;
    width: 40vw;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(180deg, #1e1e3f 50%, #220222 100%);
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card2 h3{
    font-size: 1.3rem;

}

.card2 p{
   color: rgba(255, 255, 255, 0.7);


}

.small{
    position: relative;
    left: 100px;
    top: 20px;

}

.container3{
    height: 650px;
    width: 75vw;
    margin-top: 30px;
    margin-right: 12vw;
    margin-left: 12vw;
}

.question-box{
    background-color:#2d2d2d;
    width: 75vw;
    margin: 10px auto;
}

.Frequently{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
    font-weight: 400;
    font-size: 1.5rem;
    
}

.question-box:hover{
    background-color: #4d4d4d;
    cursor: pointer;
}


.content2 .email-signup{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;

}

.content2 .email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;

}

.content2{
    width: 50vw;
    margin-inline: auto;
    margin-top: 10px;

    
}

.content2 p{
    text-align: center;
    margin: 0px 0px 18px;

}

.footer{
    padding: 50px 15% 10px;
    border-top: 0px solid #333;
    color: #777;

}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display:block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;

}

.footer .language-btn{
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;

}

.copywright-txt{
    font-size: 14px;
    margin-top: 20px ;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px){
    .logo{
        width: 100px;

    }

    nav button{
        padding: 5px 10px;
    }

    nav .language-btn{
        padding: 4px 8px ;

    }

    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }

    .header-content h1{
        font-size: 30px;

    }

    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;
    }
}

